<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bugs Management Application</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="views\lib\angular.min.js"></script>
  <script src="app.js"></script>
  </head>
  <body ng-app="myapp">
    <div ng-controller="mycontroller">
      <form>
        info:
        <input type="text" ng-model="info"><br>
        <br>
        <input type="submit" value="submit" ng-click="submit()">
      </form>
    </div>
      
  </body>
</html>
